<div class="container jumbotron mt-4">
    <div class="row">
        <h1 class="mx-auto">Create your own Burger</h1>
    </div>
    <div class="row mb-4">
        <form class="mx-auto" id="new-burger-input">
            <input id="burger-name" type="text" placeholder="Enter burger name"><br>
            <button class="btn btn-success" type="sutbmit">Make!</button>
        </form>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-4 card p-0">
            <div class="card-header">
                <h2>Ready to Eat</h2>
                <h5>click to eat</h5>
            </div>
            <div class="card-body">
                {{#each burgers}}
                {{#unless devoured}}
                <button class="devour-button btn btn-info" data-id="{{ id }}">{{ burger_name }}</button><br>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 card p-0">
            <div class="card-header">
                <h2>Eaten :)</h2>
                <h5>click to delete</h5>
            </div>
            <div class="card-body">
                {{#each burgers}}
                {{#if devoured}}
                <button class="delete-button btn btn-danger" data-id="{{ id }}">{{ burger_name }}</button><br>
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="col-1"></div>

    </div>
</div>